{# templates/user/user.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% include '/base/head.html.twig' %}
    </head>
    <body>
        <h1>
          User ID: {{ userid }}
          <br>
          Username: {{ username }}
          <br>
          Password: {{ password }}
          <br>
          Email Address: {{ email_address }}
          <br>
          Lucky Number: {{ lucky_number }}
        </h1>
    </body>
      {% include '/base/foot.html.twig' %}
</html>
