{# templates/user/user.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User Display Page</title>
        <link href="{{ asset(css) }}" rel="stylesheet">
    </head>
    <body>
        <h1>
          User ID: {{ userid }}
          <br>
          Username: {{ username }}
          <br>
          Email Address: {{ email_address }}
          <br>
          Lucky Number: {{ lucky_number }}
        </h1>
    </body>
</html>
